# Dependencies
node_modules/

# Android
android/
!android/app/src/
!android/app/build.gradle
!android/build.gradle
!android/settings.gradle

# iOS
ios/


# OS files
.DS_Store
Thumbs.db

# Misc
!.github/
!.github/workflows/*.yml
public/js/secrets.js
dist/
build/
*.log
